/* Tooltips */
.qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 400px;
	min-width: 50px;
	
	font-size: 10.5px;
	line-height: 12px;

	z-index: 15000;
	font-family: "Open Sans", sans-serif;
}
	
	/* Hide disabled tooltips */
	.qtip[aria-disabled="true"] {
		display: none !important;
	}

	.qtip-content{
		position: relative;
		padding: 5px 9px;
		overflow: hidden;
		
		border-width: 1px;
		border-style: solid;
		
		text-align: left;
		word-wrap: break-word;
		overflow: hidden;
	}
	
		.qtip-content strong {
			font-weight: bold;
		}
		
		.qtip-content em {
			font-style: italic;
		}

		.qtip-content ul {
			margin: 5px 0;
			padding: 0 5px 0 30px;
			list-style: disc;
		}

	.qtip-titlebar{
		position: relative;
		min-height: 14px;
		padding: 5px 35px 5px 10px;
		overflow: hidden;
		
		border-width: 1px 1px 0;
		border-style: solid;

		font-weight: bold;
	}

	.qtip-titlebar + .qtip-content{ border-top-width: 0px !important; }

		/*! Default close button class */
		.qtip-titlebar .ui-state-default{
			position: absolute;
			right: 4px;
			top: 50%;
			margin-top: -9px;

			cursor: pointer;
			outline: medium none;

			border-width: 1px;
			border-style: solid;
		}
		
		* html .qtip-titlebar .ui-state-default{ top: 16px; } /* IE fix */

		.qtip-titlebar .ui-icon,
		.qtip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
		}

		.qtip-icon, .qtip-icon .ui-icon{
			.rounded-corners(3px);
		}

			.qtip-icon .ui-icon{
				width: 18px;
				height: 14px;

				text-align: center;

				color: inherit;
				background: transparent none no-repeat -100em -100em;
			}


/* Tips plugin */
.qtip .qtip-tip{
	margin: 0 auto;
	overflow: hidden;

	background: transparent;
	border: 0px dashed transparent !important;
	z-index: 10;
}

	.qtip .qtip-tip,
	.qtip .qtip-tip *{
		position: absolute;
		
		line-height: 0.1px !important;
		font-size: 0.1px !important;
		color: #123456;

		background: transparent;
		border: 0px dashed transparent;
	}
	
	.qtip .qtip-tip canvas{ top: 0; left: 0; }


/* Headway Tooltips */
div.qtip-headway div.qtip-content {
	background: #313131;
	color: #ddd;
	border: none;
	.rounded-corners(2px);
	padding: 8px 12px;
	font-size: 13px;
	line-height: 20px;
}

/* Element Selector */
div.qtip-headway-element-selector div.qtip-content {
	background: #57595A;
	padding: 3px 6px;
}


/* Inspector */
div.qtip-inspector-tooltip {
	opacity: .8 !important;
	pointer-events: none;
}

div.qtip-inspector-tooltip span.inspector-tooltip-instance {
	display: block;
	text-align: center;
	font-size: 11px;
	height: 14px;
	line-height: 14px;
}

div.qtip-inspector-tooltip small.right-click-message {
	display: block;
	text-align: center;
	opacity: .7;
	margin-top: 3px;
	font-size: 11px;
	line-height: 11px;
}



/* Block Dimensions */
div.qtip-block-dimensions {
	opacity: .8 !important;
}

div.qtip-block-dimensions div.qtip-content, div.qtip-block-dimensions div.qtip-content * {
	font-size: 11px;
	line-height: 17px;
}
	
	div.qtip-block-dimensions div.qtip-content div.block-info {
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		display: block;
		margin: 0 0 3px;
	}

		div.qtip-block-dimensions div.qtip-content span.block-info-type {
			background-image: url(%VISUALEDITOR%/images/default-block-icon.png);
			background-position: 50%;
			background-size: 65%;
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			display: inline-block;
			margin: 0 4px -5px 0;
		}

		div.qtip-block-dimensions div.qtip-content span.main-block-info-mirrored {
			opacity: .5;
		}

		div.qtip-block-dimensions div.qtip-content span.block-info-mirroring {
			display: inline-block;
			background: rgba(255, 255, 255, .2);
			box-shadow: 0 0 1px rgba(0, 0, 0, .6);
			border-radius: 3px;
			padding: 1px 6px;
			margin: 0 0 0 4px;
			clear: both;
		}

	div.qtip-block-dimensions div.qtip-content span.block-dimensions-separator {
		font-size: 13px;
		opacity: .8;
	}
	
	div.qtip-block-dimensions div.qtip-content small {
		font-size: 10px;
	}
	
	div.qtip-block-dimensions span.block-fluid-height-message,
	div.qtip-block-dimensions span.right-click-message {
		display: block;
		text-align: center;
		opacity: .7;
	}