.rounded-corners(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

/* Icon Font */
	@font-face {
	  font-family: 'headway-ve';
	  src: local('☺'),
	       url('%VISUALEDITOR%/font/headway-ve.woff'), 
	       url('%VISUALEDITOR%/font/headway-ve.ttf') format('truetype');
	  font-weight: normal;
	  font-style: normal;
	}

		.icon-plus:before { content: '\3d'; } /* '=' */
		.icon-minus:before { content: '\5f'; } /* '_' */
		.icon-up-dir:before { content: '\68'; } /* 'h' */
		.icon-right-dir:before { content: '\69'; } /* 'i' */
		.icon-down-dir:before { content: '\64'; } /* 'd' */
		.icon-left-dir:before { content: '\65'; } /* 'e' */
		.icon-list:before { content: '\45'; } /* 'E' */
		.icon-cog:before { content: '\33'; } /* '3' */
		.icon-cogs:before { content: '\30'; } /* '0' */
		.icon-edit:before { content: '\34'; } /* '4' */
		.icon-checkmark:before { content: '\32'; } /* '2' */
		.icon-plus-circle:before { content: '\2b'; } /* '+' */
		.icon-minus-solid-circle:before { content: '\2d'; } /* '-' */
		.icon-x-circle:before { content: '\58'; } /* 'X' */
		.icon-help-solid-circle:before { content: '\3f'; } /* '?' */
		.icon-grid:before { content: '\31'; } /* '1' */
		.icon-eye:before { content: '\25be'; } /* '▾' */
		.icon-down-open:before { content: '\67'; } /* 'g' */
		.icon-left-open:before { content: '\62'; } /* 'b' */
		.icon-right-open:before { content: '\3e'; } /* '&gt;' */
		.icon-up-open:before { content: '\5e'; } /* '^' */
		.icon-arrows-cw:before { content: '\72'; } /* 'r' */
		.icon-equalizer:before { content: '\61'; } /* 'a' */
		.icon-brush:before { content: '\63'; } /* 'c' */
		.icon-cancel-alt:before { content: '\78'; } /* 'x' */
		.icon-pictures:before { content: '\66'; } /* 'f' */
		.icon-attach:before { content: '\36'; } /* '6' */
		.icon-link:before { content: '\35'; } /* '5' */
		.icon-checkmark-sharp:before { content: "\74"; } /* 't' */
		.icon-copy:before { content: "\6c";	} /* 'l' */
		.icon-loop:before {	content: "\a8";	} /* '¨' */
		.icon-remove:before { content: "\70"; } /* 'p' */
		.icon-plus-sharp:before { content: "\a7"; } /* '§' */
		.icon-insert-template:before { content: "\37"; } /* '7' */
		.icon-cloud-download:before { content: "\38"; } /* '8' */
		
	.icon-font() {
		font-family: 'headway-ve';
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		width: auto;
		text-indent: 0;
		color: inherit;
		font-size: 13px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

/* Highlighting */
	.no-highlight() {
		-webkit-user-select: none;
		user-select: none;
	}

	.allow-highlight() {
		-webkit-user-select: text !important;
		user-select: text !important;
	}

/* Box Sizing */
	.border-box() {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Anti-aliasing */
	.antialias() {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

/* Transition */
	.transition(@transition) {
		-webkit-transition: e(@transition);
		-moz-transition: e(@transition);
		transition: e(@transition);
	}

	.animation(@animation) {
		-webkit-animation: e(@animation);
		-moz-animation: e(@animation);
		animation: e(@animation);
	}

	.disable-transitions {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		transition: none !important;
	}